@charset "UTF-8";
/* BASE CSS
 * --------------------------------------- */
body {
  background-color: #dbdbdb;
  min-height: 4000px;
}
.about {
  font-size: 16px;
  color: black;
  text-align: justify;
}
.copy-ip {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.copy-ip:hover .ip {
  background-color: #0da4c2;
}
.copy-ip .info {
  font-weight: bold;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}
.copy-ip .ip {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 30px;
  background-color: #0dcaf0;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #101725;
  transition: all 0.3s ease-in-out;
}
